node_modules
*.vsix
/BuildTasks/PublishExtension/debug.cmd
/BuildTasks/IsValidExtensionAgent/debug.cmd
*.env
BuildTasks/*/**/*.js
BuildTasks/*/**/*.js.map
BuildTasks/shared/dist
BuildTasks/VtexBuildBeta/dist
BuildTasks/VtexBuildRelease/dist